# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
backend/venv/

# Python build
build/
dist/
.eggs/
*.egg-info/

# --------------------
# Node
# --------------------
node_modules/

# --------------------
# Environment Variables
# --------------------
.env
.env.*
!.env.example

# --------------------
# Logs
# --------------------
*.log

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# IDE
# --------------------
.vscode/
.idea/

# --------------------
# Project Files
# --------------------
